@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__logo {
  text-align: center;
  grid-area: logo;
  padding-top: 1rem;
  padding-left: 1rem;
  animation-name: efectoLogo;
  animation-duration: 1s;
  padding-bottom: 1.3rem; }

.redes {
  text-align: center;
  padding-right: 2rem;
  animation-name: efectoRedes;
  animation-duration: 1s; }

.redes__estilo {
  list-style-type: none; }

.redes__estilo--line {
  display: inline-block; }

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 5rem; }

body {
  background-color: #3f3f3f; }

.body {
  display: grid;
  grid-template-areas: "logo" "nav" "cont" "footer"; }

.centrar {
  display: flex;
  justify-content: center; }

.secciones {
  display: flex;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  grid-area: cont;
  flex-direction: column;
  animation-name: secciones;
  animation-duration: 1s; }

.secciones__separar {
  border-top: solid 0.1rem #1d1d1d;
  width: 100%; }

.video1 {
  padding: 1rem; }

.sub {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 450; }

.subEquipos {
  padding-top: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: bold; }

.sub2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: white; }

.sub3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  padding-top: 0.3rem;
  text-align: center;
  color: white; }

.subFooter {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: black; }

.serviciosEquipos {
  width: 100%;
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-align: center; }
  .serviciosEquipos li {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2rem; }
    .serviciosEquipos li h3 {
      padding-top: 0.7rem; }

footer {
  grid-area: footer;
  text-align: center; }

.videoYT {
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem; }

@keyframes efectoLogo {
  0% {
    transform: translate(-100vw, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes efectoRedes {
  0% {
    transform: translate(100vw, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes efecto_nav {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

@keyframes secciones {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

.naveg {
  position: sticky;
  top: 0px;
  grid-area: nav;
  animation-name: efecto_nav;
  animation-duration: 1s; }

.naveg__bot {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  background-color: black; }
  .naveg__bot li a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    transition: font-size 0.5s; }
    .naveg__bot li a:hover {
      font-size: 2rem; }

.formulario__tamaño {
  width: 40rem;
  border: solid 0.1rem #1d1d1d;
  padding: 2rem; }
  .formulario__tamaño textarea {
    width: 20rem;
    height: 10rem; }

.formulario__tamaño--font {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1rem;
  padding-top: 0.3rem; }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .head {
    display: flex;
    flex-direction: column; }
  .header__logo {
    padding: 0;
    padding-bottom: 1rem; }
  .redes {
    padding: 0; }
  .body {
    grid-template-areas: "logo" "nav" "cont" "footer"; }
  .redes {
    padding-bottom: 2rem; }
  .naveg__bot {
    text-align: center;
    flex-wrap: wrap; }
  .naveg__bot--border {
    width: 20%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0;
    border-right: solid 0.06rem;
    border-left: solid 0.06rem;
    background-color: #111111;
    align-items: center; }
  .secciones iframe {
    width: 100%; }
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem; }
    .contacto .contacto__text {
      padding-bottom: 1rem; }
  .serviciosEquipos {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .head {
    display: flex;
    flex-direction: column; }
  .header__logo {
    padding: 0;
    padding-bottom: 1rem; }
  .redes {
    padding: 0; }
  .body {
    grid-template-areas: "logo" "nav" "cont" "footer"; }
  .redes {
    padding-bottom: 2rem; }
  .naveg__bot {
    text-align: center;
    flex-wrap: wrap; }
    .naveg__bot li a {
      font-size: 80%; }
      .naveg__bot li a:hover {
        font-size: 80%; }
  .naveg__bot--border {
    width: 20%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin: 0;
    border-right: solid 0.06rem;
    border-left: solid 0.06rem;
    background-color: #111111;
    align-items: center; }
  .secciones iframe {
    width: 100%;
    height: 100%; }
  .sub {
    font-size: 1rem; }
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem; }
    .contacto .contacto__text {
      padding-bottom: 1rem; }
    .contacto .formulario__tamaño {
      width: 300px; }
      .contacto .formulario__tamaño textarea {
        width: 70%; }
  .serviciosEquipos {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (min-width: 1024px) {
  .body {
    grid-template-areas: "logo" "nav" "cont" "footer"; }
  .head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    padding-top: 1rem;
    padding-left: 1rem; }
  .redes {
    padding-right: 2rem; }
  .naveg__bot {
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between; }
  .naveg__bot--border {
    width: 20%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0;
    border-right: solid 0.06rem;
    border-left: solid 0.06rem;
    background-color: #111111; }
  .contacto {
    text-align: left;
    display: flex;
    padding: 2rem; }
  .contacto__text {
    padding-right: 2rem; }
  .serviciosEquipos {
    width: 100%;
    list-style-type: none;
    overflow: hidden; }
    .serviciosEquipos li {
      width: 100%; }
      .serviciosEquipos li img {
        width: 100%; } }
