body{
    background-color: #3f3f3f
}
.body{
    display:grid;
    grid-template-areas:$grid;
}
.centrar{
    display: flex;
    justify-content: center;
}
.secciones{
    display: flex;
    text-align: center;
    padding-bottom:2rem;
    padding-top:2rem;
    width:100%;
    padding-left:2rem;
    padding-right:2rem;
    overflow: hidden;
    grid-area:cont;
    flex-direction: column;
    animation-name: secciones;
    animation-duration: 1s;
}
.secciones__separar{
    border-top: solid 0.10rem rgb(29, 29, 29);
    width:100%;
}
.video1{
    padding:1rem;
}
.sub{
    font-family: $font2;
    font-size: 1.5rem;
    color:white;
    font-weight:450;
}
.subEquipos{
    padding-top: 1.5rem;
    font-family: $font2;
    font-size: 1.5rem;
    color:white;
    font-weight:bold;
}
.sub2{
    font-family: $font1;
    font-size: 2rem;
    padding-bottom: 1rem;
    color:white;
}
.sub3{
    font-family: $font1;
    font-size: 1.2rem;
    padding-top:0.3rem;
    text-align: center;
    color: white;
}
.subFooter{
    font-family: $font2;
    font-size: 1.5rem;
    font-weight: bolder;
    color:black;
}
.serviciosEquipos{
    width:100%;
    display:flex;
    list-style-type: none;
    overflow:hidden;
    text-align: center;
    li{
        width:100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        padding:2rem;
        h3{
            padding-top:0.7rem;
        }
    }
}
footer{
    grid-area:footer;
    text-align: center;
}
.videoYT{
    text-align: center;
    text-decoration: none;
    color:white;
    font-family: $font3;
    font-size:0.75rem;
}