body{
    background-color: #6d6d6d
}
.body{
    display:grid;
    grid-template-areas:$grid;
}

.secciones{
    display: flex;
    text-align: center;
    padding:2rem;
    grid-area:cont;
    flex-direction: column;
    animation-name: secciones;
    animation-duration: 1s;
}
.secciones__separar{
    border-top: solid 0.10rem;
}
.video1{
    padding:1rem;
}
.sub{
    font-family: $font2;
    font-size: 2rem;
}
.sub2{
    font-family: $font1;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.sub3{
    font-family: $font1;
    font-size: 1rem;
    padding-top:0.3rem;
    text-align: center;
}
.serviciosEquipos{
    width:100%;
    display:flex;
    list-style-type: none;
    overflow:hidden;
    text-align: center;
    li{
        width:450px;
        display: flex;
        text-align: center;
        flex-direction: column;
        padding:2rem;
    }
}
.serviciosEquipos__imagenes{
    flex-wrap: nowrap;
}
footer{
    grid-area:footer;
    text-align: center;
}