@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:0px) and (max-width:1023px) {
    .head{
        @include flex-column();
    }
    .header__logo{
        padding:0;
    }
    .redes{
        padding:0;
    }
    .body{
        grid-template-areas:"logo"
                            "nav"
                            "cont"
                            "footer";
    }
    .redes{
        padding-bottom: 2rem;
    }
    .naveg__bot{
        text-align: center;
        flex-wrap:wrap;
    }
    .naveg__bot--border{
        width: 20%;
        padding-bottom:1rem;
        padding-top:1rem;
        margin:0;
        border-right: solid 0.06rem;
        border-left:solid 0.06rem;
        background-color: #252525;
        align-items: center;
    }
    .contacto{
        display:flex;
        align-items: center;
        text-align: center;
        padding-bottom: 2rem;
    }
    .serviciosEquipos{
        flex-wrap: wrap;
        @include flex-column();
        align-items: center;
    }
}
